<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="reportModules" name="%reportModulesContributionName"
		schema="schema/reportModules.exsd" />
   <extension-point id="reportEngines" name="%reportEnginesContributionName"
		schema="schema/reportEngines.exsd" />
	<extension-point id="reportProcessors" name="%reportProcessorsContributionName"
		schema="schema/reportProcessors.exsd" />
	<extension-point id="reportFormats" name="%reportFormatsContributionName"
		schema="schema/reportFormats.exsd" />
						
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="fr.opensagres.xdocreport.eclipse.internal.ui.XDocReportApplication">
         </run>
      </application>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%XDocReportPerspective.name"
            class="fr.opensagres.xdocreport.eclipse.internal.ui.XDocReportPerspective"
            id="fr.opensagres.xdocreport.eclipse.perspective">
      </perspective>
   </extension>
    
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%XDocReportExplorerView.name"
            class="fr.opensagres.xdocreport.eclipse.internal.ui.XDocReportExplorerView"
            id="fr.opensagres.xdocreport.eclipse.reportExplorer" 
            allowMultiple="false">
      </view>
   </extension>
   
   <!--<extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="fr.opensagres.xdocreport.eclipse.reportExplorer">
         </view>
      </perspectiveExtension>
   </extension>-->

  <extension
        point="org.eclipse.ui.editors">
     <editor
           class="fr.opensagres.xdocreport.eclipse.internal.ui.editors.reporting.ReportingEditor"           
           extensions="*"
           icon="icons/obj16/reporting.gif"
           id="fr.opensagres.xdocreport.eclipse.ui.editors.ReportingEditor"
           name="%ReportingEditor.name">
     </editor>
  </extension>
  
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="%ReportMenu.label">
            <!--<command
                    commandId="fr.opensagres.xdocreport.eclipse.report.new"
                    label="%ReportNewMenu.label">
            </command>-->
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="%ReportExitMenu.label">
            </command>
         </menu>
      </menuContribution>
   </extension>

	<extension
	      point="fr.opensagres.xdocreport.eclipse.reportFormats">
	   <reportFormat
	   	     id="DOCX"
	         icon="icons/obj16/format/docx.gif"
	         name="Docx Format" />
	   <reportFormat
	   	     id="ODT"
	         icon="icons/obj16/format/odt.gif"
	         name="ODT Format" />
	   <reportFormat
	   	     id="PDF"
	         icon="icons/obj16/format/pdf.png"
	         name="PDF Format" />
	   <reportFormat
	   	     id="XHTML"
	         icon="icons/obj16/format/xhtml.png"
	         name="XHTML Format" />	         
	   <reportFormat
	   	     id="RTF"
	         icon="icons/obj16/format/rtf.gif"
	         name="RTF Format" />	         
	</extension>
	
 <extension
       point="org.eclipse.ui.commands">
    <command
          id="fr.opensagres.xdocreport.eclipse.report.new"
          defaultHandler="fr.opensagres.xdocreport.eclipse.internal.handlers.NewReportHandler"
          name="New Report" />
    <command
          id="fr.opensagres.xdocreport.eclipse.handlers.ReportingHandler"
          defaultHandler="fr.opensagres.xdocreport.eclipse.internal.handlers.ReportingHandler"
          name="New Report" />
 </extension>
	
</plugin>
