<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="XDocReport RCP target" sequenceNumber="60">
<locations>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="fr.opensagres.xdocreport.externals.feature.feature.group" version="0.9.2.qualifier"/>
<repository location="https://svn.codespot.com/a/eclipselabs.org/xdocreport-p2repo/p2repo/externals"/>
</location>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.incubator.feature.feature.group" version="1.4.0.201108091246"/>
<repository location="http://download.eclipse.org/rt/rap/1.4/incubator"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="fr.opensagres.xdocreport.converter.feature.feature.group" version="0.9.2.201109151644"/>
<unit id="fr.opensagres.xdocreport.core.feature.feature.group" version="0.9.2.201109151644"/>
<unit id="fr.opensagres.xdocreport.document.feature.feature.group" version="0.9.2.201109151644"/>
<unit id="fr.opensagres.xdocreport.template.feature.feature.group" version="0.9.2.201109151644"/>
<unit id="fr.opensagres.xdocreport.thirdparties-extension.feature.feature.group" version="0.9.2.201109151644"/>
<repository location="https://svn.codespot.com/a/eclipselabs.org/xdocreport-p2repo/p2repo/site"/>
</location>
</locations>
<includeBundles>
<plugin id="org.eclipse.pde.api.tools.ui"/>
<plugin id="org.eclipse.mylyn.commons.core"/>
<plugin id="com.basistech.m2e.code.quality.shared"/>
<plugin id="org.eclipse.equinox.p2.updatechecker.source"/>
<plugin id="com.google.collect"/>
<plugin id="org.eclipse.mylyn.ide.ant"/>
<plugin id="org.eclipse.rap.ui.launch.rwt"/>
<plugin id="org.apache.jasper"/>
<plugin id="org.eclipse.mylyn.wikitext.textile.core"/>
<plugin id="org.eclipse.mylyn.help.ui"/>
<plugin id="org.eclipse.draw2d"/>
<plugin id="org.eclipse.emf.edit"/>
<plugin id="org.eclipse.platform"/>
<plugin id="org.eclipse.equinox.common.source"/>
<plugin id="org.eclipse.equinox.registry"/>
<plugin id="org.eclipse.xsd"/>
<plugin id="org.eclipse.xsd.edit"/>
<plugin id="org.tigris.subversion.clientadapter.javahl"/>
<plugin id="org.eclipse.ui.presentations.r21.source"/>
<plugin id="org.eclipse.core.net"/>
<plugin id="org.eclipse.equinox.frameworkadmin.equinox.source"/>
<plugin id="org.eclipse.mylyn.monitor.ui"/>
<plugin id="org.junit4"/>
<plugin id="org.eclipse.team.cvs.ssh2"/>
<plugin id="org.eclipse.mylyn.bugzilla.ide"/>
<plugin id="org.bitstrings.eclipse.m2e.connectors.xmlbeans"/>
<plugin id="org.eclipse.mylyn.wikitext.textile.ui"/>
<plugin id="org.apache.commons.el"/>
<plugin id="org.objectledge.maven.connectors.scm"/>
<plugin id="org.eclipse.ui.cocoa.source"/>
<plugin id="javax.xml.bind"/>
<plugin id="com.collabnet.subversion.merge"/>
<plugin id="org.eclipse.ant.core"/>
<plugin id="org.eclipse.wst.common.ui"/>
<plugin id="org.eclipse.jsch.core"/>
<plugin id="net.sourceforge.pmd.eclipse.plugin"/>
<plugin id="org.apache.commons.logging"/>
<plugin id="org.eclipse.wst.xmleditor.doc.user"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient.ssl"/>
<plugin id="org.apache.commons.logging.source"/>
<plugin id="org.eclipse.rap.ui.templates"/>
<plugin id="org.eclipse.mylyn.monitor.core"/>
<plugin id="org.eclipse.wst.common.core"/>
<plugin id="org.tigris.subversion.clientadapter.svnkit"/>
<plugin id="org.eclipse.pde.build"/>
<plugin id="org.apache.xmlrpc"/>
<plugin id="org.eclipse.help.appserver.source"/>
<plugin id="org.eclipse.wst.sse.ui"/>
<plugin id="org.eclipse.epp.mpc.core"/>
<plugin id="org.tigris.subversion.clientadapter"/>
<plugin id="org.eclipse.jdt.launching.macosx"/>
<plugin id="org.eclipse.platform.doc.user"/>
<plugin id="org.eclipse.mylyn.wikitext.mediawiki.core"/>
<plugin id="org.eclipse.m2e.launching"/>
<plugin id="org.eclipse.ant.launching"/>
<plugin id="org.eclipse.mylyn.resources.ui"/>
<plugin id="org.eclipse.text.source"/>
<plugin id="org.eclipse.ui.console"/>
<plugin id="org.eclipse.equinox.util.source"/>
<plugin id="org.eclipse.pde.runtime"/>
<plugin id="javax.mail.glassfish"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="org.eclipse.mylyn.commons.ui"/>
<plugin id="org.eclipse.equinox.launcher.source"/>
<plugin id="org.eclipse.m2e.archetype.common"/>
<plugin id="org.eclipse.team.ui.source"/>
<plugin id="org.eclipse.wst.sse.ui.infopop"/>
<plugin id="com.sun.syndication"/>
<plugin id="org.eclipse.pde.ds.ui"/>
<plugin id="org.eclipse.equinox.http.jetty"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse.source"/>
<plugin id="org.eclipse.jdt.doc.user"/>
<plugin id="org.sat4j.pb"/>
<plugin id="org.eclipse.ui.forms.source"/>
<plugin id="org.eclipse.equinox.p2.director.source"/>
<plugin id="org.eclipse.ui.views.log"/>
<plugin id="fr.opensagres.xdocreport.template.velocity"/>
<plugin id="org.eclipse.team.cvs.ui"/>
<plugin id="org.apache.lucene.analysis"/>
<plugin id="org.eclipse.ant.core.source"/>
<plugin id="com.jprofiler.integrations.eclipse"/>
<plugin id="org.eclipse.team.svn.help"/>
<plugin id="org.eclipse.mylyn.wikitext.tracwiki.core"/>
<plugin id="org.eclipse.rcp.source"/>
<plugin id="org.eclipse.wst.common.modulecore.ui"/>
<plugin id="org.apache.lucene.core"/>
<plugin id="org.eclipse.jface.source"/>
<plugin id="org.apache.commons.lang"/>
<plugin id="org.eclipse.jst.server.generic.core"/>
<plugin id="org.eclipse.net4j.jms.api"/>
<plugin id="org.eclipse.ui.workbench.source"/>
<plugin id="org.eclipse.wst.common.modulecore"/>
<plugin id="org.eclipse.mylyn.tasks.core"/>
<plugin id="org.eclipse.mylyn.pde.ui"/>
<plugin id="org.eclipse.equinox.p2.core.source"/>
<plugin id="org.eclipse.mylyn.context.core"/>
<plugin id="org.eclipse.core.runtime.compatibility"/>
<plugin id="org.apache.commons.codec.source"/>
<plugin id="net.sf.eclipsecs.core"/>
<plugin id="org.eclipse.ecf.filetransfer"/>
<plugin id="org.eclipse.ui.ide"/>
<plugin id="org.eclipse.mylyn.java.ui"/>
<plugin id="ch.qos.logback.core"/>
<plugin id="org.eclipse.update.configurator.source"/>
<plugin id="org.eclipse.rap.ui.launch"/>
<plugin id="com.google.gdata.projecthosting"/>
<plugin id="org.eclipse.equinox.http.servlet"/>
<plugin id="fr.opensagres.xdocreport.itext.extension"/>
<plugin id="org.eclipse.equinox.p2.operations.source"/>
<plugin id="org.apache.lucene.queries"/>
<plugin id="org.eclipse.help.appserver"/>
<plugin id="org.eclipse.core.filebuffers"/>
<plugin id="org.eclipse.mylyn.commons.repositories"/>
<plugin id="org.eclipse.emf.ecore"/>
<plugin id="org.eclipse.update.ui"/>
<plugin id="org.eclipse.equinox.p2.transport.ecf"/>
<plugin id="org.eclipse.core.filesystem.macosx"/>
<plugin id="org.eclipse.pde.ui"/>
<plugin id="org.eclipse.rap.help"/>
<plugin id="org.eclipse.equinox.launcher"/>
<plugin id="com.basistech.m2e.code.quality.checkstyle"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk.scheduler.source"/>
<plugin id="org.eclipse.equinox.event"/>
<plugin id="org.jdom"/>
<plugin id="org.eclipse.equinox.p2.ql"/>
<plugin id="org.eclipse.osgi.services.source"/>
<plugin id="org.eclipse.equinox.p2.extensionlocation.source"/>
<plugin id="org.tigris.subversion.subclipse.ui"/>
<plugin id="org.eclipse.core.commands"/>
<plugin id="org.eclipse.ui.workbench.compatibility.source"/>
<plugin id="org.sonatype.m2e.modello"/>
<plugin id="org.tigris.subversion.subclipse.core"/>
<plugin id="org.eclipse.wst.xml.ui"/>
<plugin id="org.eclipse.m2e.core.ui"/>
<plugin id="org.eclipse.jst.common.project.facet.core"/>
<plugin id="org.eclipse.ui.forms"/>
<plugin id="org.eclipse.update.core"/>
<plugin id="org.eclipse.core.filesystem.source"/>
<plugin id="org.eclipse.core.boot"/>
<plugin id="org.eclipse.equinox.p2.repository.tools.source"/>
<plugin id="org.eclipse.swt.cocoa.macosx.x86_64"/>
<plugin id="org.junit" version="4.8.2.v4_8_2_v20110321-1705"/>
<plugin id="org.eclipse.mylyn.wikitext.core"/>
<plugin id="org.eclipse.update.ui.source"/>
<plugin id="javax.xml.stream"/>
<plugin id="org.eclipse.jst.server.tomcat.core"/>
<plugin id="org.eclipse.equinox.p2.repository.tools"/>
<plugin id="org.eclipse.mylyn.wikitext.confluence.core"/>
<plugin id="org.eclipse.ecf.identity.source"/>
<plugin id="org.eclipse.equinox.p2.repository.source"/>
<plugin id="org.eclipse.equinox.launcher.cocoa.macosx.x86_64"/>
<plugin id="com.foglyn.ui"/>
<plugin id="org.eclipse.wst.common.emf"/>
<plugin id="org.eclipse.compare.core"/>
<plugin id="org.eclipse.jdt.debug"/>
<plugin id="org.eclipse.core.net.source"/>
<plugin id="org.eclipse.ui.presentations.r21"/>
<plugin id="org.json"/>
<plugin id="org.eclipse.equinox.security.ui"/>
<plugin id="org.eclipse.mylyn.wikitext.twiki.ui"/>
<plugin id="org.eclipse.equinox.p2.discovery.compatibility"/>
<plugin id="com.sonatype.dependencies.eclipse"/>
<plugin id="org.eclipse.ui"/>
<plugin id="fr.opensagres.xdocreport.document.pptx"/>
<plugin id="org.eclipse.egit"/>
<plugin id="com.ning.async-http-client"/>
<plugin id="org.odftoolkit.odfdom.converter"/>
<plugin id="org.tigris.subversion.subclipse.doc"/>
<plugin id="org.eclipse.wst.dtd.core"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="com.jcraft.jsch"/>
<plugin id="org.eclipse.ui.navigator.resources.source"/>
<plugin id="org.eclipse.jface.text.source"/>
<plugin id="org.eclipse.jdt.core"/>
<plugin id="org.eclipse.debug.core"/>
<plugin id="org.sonatype.m2e.mavenarchiver"/>
<plugin id="org.eclipse.pde.junit.runtime"/>
<plugin id="com.google.gdata.core"/>
<plugin id="org.eclipse.equinox.p2.ui.importexport.source"/>
<plugin id="org.eclipse.jdt.junit.runtime"/>
<plugin id="fr.opensagres.xdocreport.document.docx"/>
<plugin id="org.mortbay.jetty.util"/>
<plugin id="org.eclipse.ui.cocoa"/>
<plugin id="org.eclipse.m2e.usagedata"/>
<plugin id="org.apache.commons.codec"/>
<plugin id="org.eclipse.ui.cheatsheets"/>
<plugin id="org.eclipse.cvs"/>
<plugin id="org.eclipse.equinox.ds.source"/>
<plugin id="org.eclipse.egit.ui"/>
<plugin id="org.eclipse.team.svn.core"/>
<plugin id="org.eclipse.mylyn.team.ui"/>
<plugin id="org.eclipse.core.databinding.source"/>
<plugin id="org.eclipse.wst.common.environment"/>
<plugin id="org.eclipse.emf.ecore.xmi"/>
<plugin id="org.eclipse.jdt.junit"/>
<plugin id="org.eclipse.m2e.editor"/>
<plugin id="org.eclipse.jgit"/>
<plugin id="com.foglyn.help"/>
<plugin id="org.eclipse.jdt.apt.pluggable.core"/>
<plugin id="org.eclipse.pde.api.tools"/>
<plugin id="org.eclipse.mylyn.wikitext.tasks.ui"/>
<plugin id="org.eclipse.mylyn.commons.screenshots"/>
<plugin id="org.eclipse.jst.server.core"/>
<plugin id="javax.xml"/>
<plugin id="org.eclipse.pde.ui.templates"/>
<plugin id="org.objectweb.asm"/>
<plugin id="org.eclipse.mylyn.discovery.ui"/>
<plugin id="org.eclipse.ui.views"/>
<plugin id="org.apache.ant"/>
<plugin id="org.eclipse.ui.ide.source"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.eclipse.wst.common.uriresolver"/>
<plugin id="com.foglyn.logging"/>
<plugin id="org.eclipse.equinox.preferences"/>
<plugin id="org.eclipse.jsch.core.source"/>
<plugin id="net.sf.eclipsecs.checkstyle"/>
<plugin id="org.apache.poi.xwpf.converter"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth.source"/>
<plugin id="org.eclipse.equinox.p2.updatechecker"/>
<plugin id="org.eclipse.epp.package.rcp"/>
<plugin id="org.eclipse.mylyn.commons.team"/>
<plugin id="org.eclipse.help.webapp"/>
<plugin id="org.eclipse.core.contenttype"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth"/>
<plugin id="fr.opensagres.xdocreport.converter.odt.odfdom"/>
<plugin id="org.eclipse.team.svn.ui"/>
<plugin id="org.tigris.subversion.subclipse.mylyn"/>
<plugin id="org.eclipse.pde.ds.core"/>
<plugin id="org.eclipse.wst.common.infopop"/>
<plugin id="org.eclipse.equinox.p2.metadata"/>
<plugin id="org.eclipse.ui.editors"/>
<plugin id="com.jcraft.jsch.source"/>
<plugin id="org.junit" version="3.8.2.v3_8_2_v20100427-1100"/>
<plugin id="org.eclipse.ui.ide.application"/>
<plugin id="org.eclipse.mylyn.bugzilla.core"/>
<plugin id="org.eclipse.equinox.preferences.source"/>
<plugin id="org.eclipse.equinox.security"/>
<plugin id="nu.xom"/>
<plugin id="org.eclipse.m2e.model.edit"/>
<plugin id="org.eclipse.equinox.p2.updatesite.source"/>
<plugin id="org.eclipse.osgi.util"/>
<plugin id="org.eclipse.core.resources.source"/>
<plugin id="org.slf4j.api"/>
<plugin id="org.eclipse.search"/>
<plugin id="org.eclipse.wst.validation.ui"/>
<plugin id="org.eclipse.mylyn"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.natives.source"/>
<plugin id="org.eclipse.wst.common.frameworks.ui"/>
<plugin id="org.eclipse.pde.doc.user"/>
<plugin id="fr.opensagres.xdocreport.converter"/>
<plugin id="org.eclipse.egit.core"/>
<plugin id="fr.opensagres.xdocreport.document.odp"/>
<plugin id="org.eclipse.m2e.editor.xml"/>
<plugin id="org.eclipse.ui.browser"/>
<plugin id="org.eclipse.ui.cheatsheets.source"/>
<plugin id="org.eclipse.wst.internet.cache"/>
<plugin id="org.eclipse.equinox.jsp.jasper"/>
<plugin id="org.eclipse.core.databinding.beans.source"/>
<plugin id="com.googlecode.mylyn.core"/>
<plugin id="org.eclipse.wst.common.project.facet.core"/>
<plugin id="org.eclipse.epp.mpc.help.ui"/>
<plugin id="org.eclipse.emf.ecore.edit"/>
<plugin id="org.eclipse.mylyn.wikitext.ui"/>
<plugin id="org.eclipse.core.commands.source"/>
<plugin id="org.eclipse.core.jobs.source"/>
<plugin id="org.eclipse.ui.navigator.resources"/>
<plugin id="fr.opensagres.xdocreport.converter.docx.xwpf"/>
<plugin id="org.eclipse.equinox.p2.jarprocessor"/>
<plugin id="org.eclipse.ui.editors.source"/>
<plugin id="org.sonatype.m2e.plexus.annotations"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.ssl.source"/>
<plugin id="org.eclipse.mylyn.context.ui"/>
<plugin id="org.eclipse.team.cvs.core"/>
<plugin id="org.eclipse.equinox.p2.directorywatcher.source"/>
<plugin id="org.eclipse.core.filesystem"/>
<plugin id="org.apache.xml.resolver"/>
<plugin id="org.eclipse.jdt.ui"/>
<plugin id="org.polarion.eclipse.team.svn.connector"/>
<plugin id="org.eclipse.ecf.provider.filetransfer"/>
<plugin id="org.eclipse.ecf"/>
<plugin id="org.eclipse.mylyn.tasks.bugs"/>
<plugin id="org.eclipse.wst.sse.core"/>
<plugin id="org.eclipse.help.base"/>
<plugin id="org.eclipse.core.externaltools.source"/>
<plugin id="org.eclipse.osgi.util.source"/>
<plugin id="org.sat4j.core"/>
<plugin id="org.eclipse.m2e.lifecyclemapping.defaults"/>
<plugin id="com.sun.jna"/>
<plugin id="com.ibm.icu.source"/>
<plugin id="org.eclipse.core.expressions.source"/>
<plugin id="org.eclipse.gef"/>
<plugin id="org.polarion.eclipse.team.svn.connector.svnkit16"/>
<plugin id="org.eclipse.ecf.source"/>
<plugin id="org.sonatype.m2e.egit"/>
<plugin id="org.eclipse.help.ui"/>
<plugin id="org.eclipse.emf.edit.ui"/>
<plugin id="org.eclipse.text"/>
<plugin id="org.eclipse.wst.validation"/>
<plugin id="org.apache.lucene.spellchecker"/>
<plugin id="javax.activation"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry"/>
<plugin id="org.eclipse.equinox.p2.ql.source"/>
<plugin id="org.sonatype.m2e.webby"/>
<plugin id="org.eclipse.mylyn.commons.net"/>
<plugin id="org.eclipse.ui.navigator"/>
<plugin id="org.mortbay.jetty.server"/>
<plugin id="org.eclipse.equinox.security.ui.source"/>
<plugin id="org.apache.lucene"/>
<plugin id="org.eclipse.equinox.p2.publisher"/>
<plugin id="org.sonatype.m2e.webby.jetty6x"/>
<plugin id="org.eclipse.equinox.p2.engine"/>
<plugin id="org.eclipse.equinox.app"/>
<plugin id="org.eclipse.jdt.apt.ui"/>
<plugin id="org.eclipse.core.jobs"/>
<plugin id="org.eclipse.core.contenttype.source"/>
<plugin id="org.eclipse.equinox.event.source"/>
<plugin id="org.eclipse.equinox.p2.ui.importexport"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository.source"/>
<plugin id="org.tigris.subversion.subclipse.tools.usage"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient.ssl.source"/>
<plugin id="javax.servlet.jsp"/>
<plugin id="org.sonatype.m2e.webby.jetty7x"/>
<plugin id="org.eclipse.equinox.p2.ui.discovery"/>
<plugin id="org.eclipse.ltk.ui.refactoring.source"/>
<plugin id="org.eclipse.core.variables"/>
<plugin id="org.eclipse.ui.browser.source"/>
<plugin id="org.eclipse.search.source"/>
<plugin id="org.eclipse.jdt.apt.core"/>
<plugin id="org.eclipse.swt.cocoa.macosx.x86_64.source"/>
<plugin id="org.eclipse.equinox.security.source"/>
<plugin id="org.eclipse.ui.net"/>
<plugin id="org.eclipse.jface.databinding"/>
<plugin id="org.eclipse.equinox.p2.directorywatcher"/>
<plugin id="fr.opensagres.xdocreport.template"/>
<plugin id="org.eclipse.update.scheduler.source"/>
<plugin id="org.eclipse.ui.views.properties.tabbed"/>
<plugin id="com.vectrace.MercurialEclipse"/>
<plugin id="org.apache.commons.httpclient"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient"/>
<plugin id="org.eclipse.m2e.discovery"/>
<plugin id="org.tigris.subversion.subclipse.graph"/>
<plugin id="org.eclipse.team.ui"/>
<plugin id="org.eclipse.core.runtime.compatibility.source"/>
<plugin id="org.eclipse.ui.workbench"/>
<plugin id="fr.opensagres.xdocreport.document"/>
<plugin id="org.eclipse.equinox.p2.artifact.repository.source"/>
<plugin id="org.eclipse.wst.common.emfworkbench.integration"/>
<plugin id="org.sonatype.m2e.buildhelper"/>
<plugin id="org.eclipse.ui.views.properties.tabbed.source"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.eclipse.emf.ecore.change"/>
<plugin id="org.eclipse.ecf.identity"/>
<plugin id="org.eclipse.debug.ui"/>
<plugin id="org.eclipse.core.filebuffers.source"/>
<plugin id="org.eclipse.ui.intro"/>
<plugin id="org.eclipse.mylyn.team.cvs"/>
<plugin id="org.eclipse.mylyn.wikitext.tracwiki.ui"/>
<plugin id="org.eclipse.jdt.launching.ui.macosx"/>
<plugin id="org.eclipse.wst.xsdeditor.doc.user"/>
<plugin id="org.eclipse.core.databinding.property.source"/>
<plugin id="org.eclipse.mylyn.tasks.search"/>
<plugin id="javax.servlet"/>
<plugin id="org.eclipse.equinox.http.registry"/>
<plugin id="org.bitstrings.eclipse.m2e.common"/>
<plugin id="fr.opensagres.xdocreport.document.ods"/>
<plugin id="org.eclipse.equinox.p2.artifact.repository"/>
<plugin id="org.eclipse.core.externaltools"/>
<plugin id="org.apache.lucene.highlighter"/>
<plugin id="org.eclipse.ui.navigator.source"/>
<plugin id="org.eclipse.wst.standard.schemas"/>
<plugin id="org.eclipse.ui.intro.universal.source"/>
<plugin id="org.eclipse.wst.xml.ui.infopop"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.source"/>
<plugin id="org.eclipse.jdt.compiler.tool"/>
<plugin id="org.eclipse.ui.externaltools.source"/>
<plugin id="org.eclipse.pde.ua.ui"/>
<plugin id="org.eclipse.mylyn.tasks.ui"/>
<plugin id="org.eclipse.ecf.ssl.source"/>
<plugin id="org.eclipse.wst.common.snippets"/>
<plugin id="org.eclipse.wst.dtd.ui.infopop"/>
<plugin id="org.eclipse.pde"/>
<plugin id="org.eclipse.core.databinding.observable"/>
<plugin id="org.eclipse.ecf.filetransfer.source"/>
<plugin id="org.eclipse.update.configurator"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.natives"/>
<plugin id="org.eclipse.wst.dtd.ui"/>
<plugin id="org.eclipse.jface.text"/>
<plugin id="org.eclipse.equinox.frameworkadmin"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient.source"/>
<plugin id="org.eclipse.equinox.p2.reconciler.dropins.source"/>
<plugin id="org.eclipse.debug.ui.source"/>
<plugin id="org.eclipse.equinox.app.source"/>
<plugin id="org.sonatype.m2e.subversive"/>
<plugin id="org.apache.ws.commons.util"/>
<plugin id="org.eclipse.platform.doc.isv"/>
<plugin id="org.eclipse.equinox.p2.ui.source"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk.source"/>
<plugin id="org.eclipse.equinox.p2.updatesite"/>
<plugin id="org.eclipse.equinox.concurrent"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="org.eclipse.equinox.p2.publisher.eclipse"/>
<plugin id="org.jsr305"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry.source"/>
<plugin id="org.eclipse.wst.common.frameworks"/>
<plugin id="org.eclipse.mylyn.java.tasks"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator"/>
<plugin id="org.eclipse.emf.common.ui"/>
<plugin id="org.eclipse.equinox.security.macosx.source"/>
<plugin id="org.eclipse.ui.intro.universal"/>
<plugin id="org.eclipse.core.databinding.observable.source"/>
<plugin id="org.eclipse.ui.console.source"/>
<plugin id="org.eclipse.wst.dtdeditor.doc.user"/>
<plugin id="org.eclipse.help"/>
<plugin id="org.eclipse.equinox.p2.director.app"/>
<plugin id="org.eclipse.team.core.source"/>
<plugin id="net.sf.eclipsecs.branding"/>
<plugin id="net.miginfocom.miglayout"/>
<plugin id="org.eclipse.ltk.core.refactoring.source"/>
<plugin id="org.eclipse.ui.workbench.texteditor.source"/>
<plugin id="org.eclipse.equinox.frameworkadmin.equinox"/>
<plugin id="org.eclipse.equinox.p2.extensionlocation"/>
<plugin id="org.eclipse.help.source"/>
<plugin id="org.eclipse.jdt.core.manipulation"/>
<plugin id="org.eclipse.equinox.p2.core"/>
<plugin id="org.eclipse.ui.net.source"/>
<plugin id="org.eclipse.ui.workbench.texteditor"/>
<plugin id="org.eclipse.mylyn.commons.xmlrpc"/>
<plugin id="org.eclipse.update.scheduler"/>
<plugin id="org.eclipse.equinox.p2.director"/>
<plugin id="org.eclipse.m2e.scm"/>
<plugin id="org.eclipse.mylyn.commons.identity"/>
<plugin id="com.foglyn.core"/>
<plugin id="org.eclipse.compare"/>
<plugin id="org.eclipse.equinox.p2.engine.source"/>
<plugin id="org.eclipse.mylyn.wikitext.confluence.ui"/>
<plugin id="org.eclipse.equinox.p2.jarprocessor.source"/>
<plugin id="org.eclipse.egit.doc"/>
<plugin id="org.eclipse.m2e.jdt"/>
<plugin id="org.eclipse.equinox.p2.repository"/>
<plugin id="org.eclipse.ui.workbench.compatibility"/>
<plugin id="org.eclipse.mylyn.wikitext.twiki.core"/>
<plugin id="org.apache.xerces"/>
<plugin id="org.eclipse.equinox.registry.source"/>
<plugin id="org.eclipse.equinox.p2.reconciler.dropins"/>
<plugin id="com.basistech.m2e.code.quality.pmd"/>
<plugin id="org.eclipse.epp.mpc.ui"/>
<plugin id="org.eclipse.jface.databinding.source"/>
<plugin id="org.eclipse.equinox.frameworkadmin.source"/>
<plugin id="org.apache.xml.serializer"/>
<plugin id="org.eclipse.wst.server.core"/>
<plugin id="org.eclipse.platform.source"/>
<plugin id="org.eclipse.jem.util"/>
<plugin id="org.eclipse.pde.core"/>
<plugin id="org.eclipse.ltk.core.refactoring"/>
<plugin id="org.eclipse.osgi.source"/>
<plugin id="org.eclipse.equinox.p2.garbagecollector.source"/>
<plugin id="org.eclipse.m2e.refactoring"/>
<plugin id="org.eclipse.ltk.ui.refactoring"/>
<plugin id="org.eclipse.core.variables.source"/>
<plugin id="org.eclipse.mylyn.wikitext.help.ui"/>
<plugin id="org.eclipse.equinox.p2.metadata.source"/>
<plugin id="org.eclipse.equinox.p2.discovery"/>
<plugin id="org.eclipse.rap.ui.intro"/>
<plugin id="ch.qos.logback.slf4j"/>
<plugin id="org.eclipse.equinox.p2.console"/>
<plugin id="org.eclipse.equinox.simpleconfigurator"/>
<plugin id="org.eclipse.jsch.ui"/>
<plugin id="net.sf.eclipsecs.doc"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator.source"/>
<plugin id="org.eclipse.equinox.p2.publisher.eclipse.source"/>
<plugin id="org.eclipse.core.databinding"/>
<plugin id="com.foglyn.fogbugz"/>
<plugin id="org.apache.lucene.memory"/>
<plugin id="org.eclipse.ui.externaltools"/>
<plugin id="org.eclipse.core.runtime.source"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk.scheduler"/>
<plugin id="org.apache.ant.source"/>
<plugin id="org.eclipse.wst.sse.doc.user"/>
<plugin id="org.eclipse.epp.usagedata.ui"/>
<plugin id="org.eclipse.epp.usagedata.recording"/>
<plugin id="org.eclipse.pde.ua.core"/>
<plugin id="org.eclipse.ui.ide.application.source"/>
<plugin id="org.eclipse.wst.xml.core"/>
<plugin id="org.eclipse.emf.common"/>
<plugin id="org.eclipse.rcp"/>
<plugin id="org.eclipse.jdt.compiler.apt"/>
<plugin id="fr.opensagres.xdocreport.template.freemarker"/>
<plugin id="org.eclipse.core.databinding.beans"/>
<plugin id="fr.opensagres.xdocreport.core"/>
<plugin id="org.sonatype.tycho.m2e"/>
<plugin id="org.eclipse.mylyn.wikitext.mediawiki.ui"/>
<plugin id="org.eclipse.ui.views.source"/>
<plugin id="org.eclipse.team.core"/>
<plugin id="org.eclipse.wst.xsd.core"/>
<plugin id="net.sf.eclipsecs.ui"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.source"/>
<plugin id="org.eclipse.equinox.jsp.jasper.registry"/>
<plugin id="org.eclipse.equinox.p2.director.app.source"/>
<plugin id="org.eclipse.mylyn.bugzilla.ui"/>
<plugin id="org.eclipse.wst.validation.infopop"/>
<plugin id="org.eclipse.jdt"/>
<plugin id="org.eclipse.epp.usagedata.gathering"/>
<plugin id="org.apache.lucene.snowball"/>
<plugin id="org.eclipse.equinox.p2.publisher.source"/>
<plugin id="org.eclipse.team.svn"/>
<plugin id="org.eclipse.equinox.p2.console.source"/>
<plugin id="org.eclipse.compare.core.source"/>
<plugin id="org.eclipse.core.databinding.property"/>
<plugin id="org.eclipse.m2e.core"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse"/>
<plugin id="org.eclipse.update.core.source"/>
<plugin id="org.eclipse.m2e.maven.runtime"/>
<plugin id="org.eclipse.core.resources"/>
<plugin id="org.eclipse.m2e.maven.indexer"/>
<plugin id="org.eclipse.jsch.ui.source"/>
<plugin id="org.tmatesoft.svnkit"/>
<plugin id="org.eclipse.ecf.ssl"/>
<plugin id="org.eclipse.pde.launching"/>
<plugin id="org.eclipse.equinox.security.macosx"/>
<plugin id="org.eclipse.equinox.p2.garbagecollector"/>
<plugin id="org.jboss.netty"/>
<plugin id="org.eclipse.core.runtime"/>
<plugin id="org.eclipse.jdt.junit.core"/>
<plugin id="org.eclipse.debug.core.source"/>
<plugin id="org.eclipse.wst.xsd.ui"/>
<plugin id="org.eclipse.jdt.junit4.runtime"/>
<plugin id="org.eclipse.mylyn.discovery.core"/>
<plugin id="org.apache.lucene.misc"/>
<plugin id="org.eclipse.compare.source"/>
<plugin id="org.apache.commons.httpclient.source"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.eclipse.equinox.p2.operations"/>
<plugin id="org.eclipse.ui.source"/>
<plugin id="fr.opensagres.xdocreport.document.odt"/>
<plugin id="org.eclipse.jdt.launching"/>
<plugin id="org.eclipse.equinox.p2.transport.ecf.source"/>
<plugin id="org.eclipse.ui.intro.source"/>
<plugin id="ch.qos.logback.classic"/>
<plugin id="org.eclipse.mylyn.ide.ui"/>
<plugin id="com.googlecode.mylyn.ui"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.ssl"/>
<plugin id="org.eclipse.equinox.p2.ui"/>
<plugin id="org.eclipse.jface"/>
<plugin id="org.eclipse.swt"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk"/>
<plugin id="org.eclipse.core.expressions"/>
<plugin id="org.eclipse.jdt.debug.ui"/>
<plugin id="com.ibm.icu"/>
<plugin id="org.eclipse.ant.ui"/>
</includeBundles>
<environment>
<os>macosx</os>
<ws>cocoa</ws>
<arch>x86_64</arch>
<nl>fr_FR</nl>
</environment>
<launcherArgs>
<vmArgs>-Xms40m -Xmx512m -Xdock:icon=../Resources/Eclipse.icns -XstartOnFirstThread -Dorg.eclipse.swt.internal.carbon.smallFonts</vmArgs>
</launcherArgs>
</target>
