<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="XDocReport RCP target" sequenceNumber="114">
<locations>
<location id="org.eclipse.rcp" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.platform" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.platform.source" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.rcp.source" path="${eclipse_home}" type="Feature"/>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="fr.opensagres.xdocreport.converter.feature.feature.group" version="0.9.4.201111092348"/>
<unit id="fr.opensagres.xdocreport.core.feature.feature.group" version="0.9.4.201111092348"/>
<unit id="fr.opensagres.xdocreport.document.feature.feature.group" version="0.9.4.201111092348"/>
<unit id="fr.opensagres.xdocreport.jsr303.feature.group" version="0.9.4.201111092348"/>
<unit id="fr.opensagres.xdocreport.template.feature.feature.group" version="0.9.4.201111092348"/>
<unit id="fr.opensagres.xdocreport.externals.feature.feature.group" version="0.9.4.201111092348"/>
<unit id="fr.opensagres.xdocreport.gemini.feature.feature.group" version="0.9.4.201111092348"/>
<unit id="fr.opensagres.xdocreport.externals.jpa.feature.group" version="0.9.4.201111092348"/>
<unit id="fr.opensagres.xdocreport.thirdparties-extension.feature.feature.group" version="0.9.4.201111092348"/>
<repository location="http://oss.opensagres.fr/xdocreport/p2/p2repository/target/site/"/>
</location>
</locations>
<environment>
<nl>fr_FR</nl>
</environment>
<launcherArgs>
<vmArgs>-Xms40m -Xmx512m -Xdock:icon=../Resources/Eclipse.icns -XstartOnFirstThread -Dorg.eclipse.swt.internal.carbon.smallFonts</vmArgs>
</launcherArgs>
</target>
