<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="XDocReport RCP target" sequenceNumber="90">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="fr.opensagres.xdocreport.externals.feature.feature.group" version="0.9.2.201109171922"/>
<repository location="https://svn.codespot.com/a/eclipselabs.org/xdocreport-p2repo/p2repo/externals"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="fr.opensagres.xdocreport.document.feature.feature.group" version="0.9.2.201109171929"/>
<unit id="fr.opensagres.xdocreport.template.feature.feature.group" version="0.9.2.201109171929"/>
<unit id="fr.opensagres.xdocreport.core.feature.feature.group" version="0.9.2.201109171929"/>
<unit id="fr.opensagres.xdocreport.converter.feature.feature.group" version="0.9.2.201109171929"/>
<unit id="fr.opensagres.xdocreport.thirdparties-extension.feature.feature.group" version="0.9.2.201109171929"/>
<repository location="https://svn.codespot.com/a/eclipselabs.org/xdocreport-p2repo/p2repo/site"/>
</location>
</locations>
<environment>
<os>macosx</os>
<ws>cocoa</ws>
<arch>x86_64</arch>
<nl>fr_FR</nl>
</environment>
<launcherArgs>
<vmArgs>-Xms40m -Xmx512m -Xdock:icon=../Resources/Eclipse.icns -XstartOnFirstThread -Dorg.eclipse.swt.internal.carbon.smallFonts</vmArgs>
</launcherArgs>
</target>
