<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="fr.opensagres.xdocreport.eclipse.reporting.core.reportProcessors">
         <reportProcessor id="org.dynaresume.project.eclipse.reporting"
         				  name="Resume with XDocReport"
         				  reportEngineId="fr.opensagres.xdocreport.eclipse.reporting.xdocreport"
         				  class="org.dynaresume.project.eclipse.reporting.ProjectReportProcessor" >
         				  <!-- Resume with docx -->
         				  <reportLoader
         				  		  id="project.xdocreport.docx"
         				  		  name="%DocxResumeName" 
         				  		  description="%DocxResumeDesc"
         				  		  class="org.dynaresume.project.eclipse.reporting.DocxProjectReportLoader" />         				    				  		 
         </reportProcessor>				         				  
	</extension>
  
</plugin>
