<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="fr.opensagres.xdocreport.eclipse.reporting.core.reportProcessors">
         <reportProcessor id="org.dynaresume.project.eclipse.reporting"
         				  name="Resume with XDocReport"
         				  reportEngineId="fr.opensagres.xdocreport.eclipse.reporting.xdocreport"
         				  class="org.dynaresume.project.eclipse.reporting.ProjectReportProcessor" >
         				  <reportLoader
         				  		  id="project.xdocreport.docx"
         				  		  name="%DocxProjectName" 
         				  		  description="%DocxProjectDesc"
         				  		  class="org.dynaresume.project.eclipse.reporting.DocxProjectReportLoader" />
         				  <reportLoader
         				  		  id="project.xdocreport.docx.sodifrance"
         				  		  name="%DocxSodifranceProjectName" 
         				  		  description="%DocxSodifranceProjectDesc"
         				  		  class="org.dynaresume.project.eclipse.reporting.DocxSodifranceProjectReportLoader" />         				    				  		          				  		           				    				  		 
						  <reportLoader
         				  		  id="project.xdocreport.pptx.sodifrance"
         				  		  name="%PPTXSodifranceProjectName" 
         				  		  description="%PPTXSodifranceProjectDesc"
         				  		  class="org.dynaresume.project.eclipse.reporting.PPTXSodifranceProjectReportLoader" />         				  		  
         </reportProcessor>				         				  
	</extension>
  
</plugin>
