<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="fr.opensagres.xdocreport.eclipse.reportModules">
      <reportModule
            id="resume"
            name="%ResumeModule.name"
            description="%ResumeModule.desc"
            icon="icons/obj16/resume.gif" >
            <entries>
	            <entry name="%NewResumeEntry.name"
	            	   commandId="fr.opensagres.xdocreport.eclipse.demo.resume.handlers.NewResumeHandler"
	            	   icon="icons/obj16/new_resume.gif" />
	            <entry name="%SearchResumeEntry.name"
	                   commandId="fr.opensagres.xdocreport.eclipse.demo.resume.handlers.SearchResumeHandler"
	                   icon="icons/obj16/search_resume.gif" />
	        </entries>
	        <reportProcessors commandId="fr.opensagres.xdocreport.eclipse.ui.handlers.GenerateReportHandler">
	        	<reportProcessor reportProcessorId="resume1" />
	        	<reportProcessor reportProcessorId="resume2" />
	        </reportProcessors>	        
      </reportModule>
   </extension>
   
   <extension
         point="fr.opensagres.xdocreport.eclipse.reportProcessors">
         <reportProcessor id="resume1"
         				  reportEngineId="xdocreport"
         				  class="fr.opensagres.xdocreport.eclipse.demo.resume.internal.reporting.ResumeReportProcessor" />
		 <reportProcessor id="resume2"
         				  reportEngineId="xdocreport"
         				  class="fr.opensagres.xdocreport.eclipse.demo.resume.internal.reporting.ResumeReportProcessor2" />         				  
	</extension>

  <extension
        point="org.eclipse.ui.editors">
     <editor
           class="fr.opensagres.xdocreport.eclipse.demo.resume.internal.ui.editors.ResumeFormEditor"           
           extensions="*"
           icon="icons/obj16/resume.gif"
           id="fr.opensagres.xdocreport.eclipse.demo.resume.editor.ResumeFormEditorPart"
           name="%ResumeFormEditor.name">
     </editor>
  </extension>

  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="fr.opensagres.xdocreport.eclipse.demo.resume.internal.ui.handlers.NewResumeHandler"
           id="fr.opensagres.xdocreport.eclipse.demo.resume.handlers.NewResumeHandler"
           name="New Resume">
     </command>
  </extension>
    
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="fr.opensagres.xdocreport.eclipse.demo.resume.internal.ui.handlers.SearchResumeHandler"
           id="fr.opensagres.xdocreport.eclipse.demo.resume.handlers.SearchResumeHandler"
           name="Search Resume">
     </command>
  </extension>
  
</plugin>
