<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="fr.opensagres.xdocreport.eclipse.reportModules">
      <reportModule
            id="resume"
            name="%ResumeModule.name"
            description="%ResumeModule.desc"
            icon="icons/obj16/resume.gif" >
            <entries>
	            <entry name="%NewResumeEntry.name"
	            	   commandId="fr.opensagres.xdocreport.eclipse.demo.resume.handlers.NewResumeHandler"
	            	   icon="icons/obj16/new_resume.gif" />
	            <entry name="%SearchResumeEntry.name"
	                   commandId="fr.opensagres.xdocreport.eclipse.demo.resume.handlers.SearchResumeHandler"
	                   icon="icons/obj16/search_resume.gif" />
				<entry name="%ReportingEntry.name"
	                   commandId="fr.opensagres.xdocreport.eclipse.handlers.ReportingHandler"
	                   icon="icons/obj16/reporting_resume.gif" />	                   
	        </entries>
	        <reportProcessors commandId="fr.opensagres.xdocreport.eclipse.ui.handlers.GenerateReportHandler">
	        	<reportProcessor reportProcessorId="fr.opensagres.xdocreport.eclipse.demo.resume.reporting.xdocreport" />
	        	<!--<reportProcessor reportProcessorId="resume2" />
	        	<reportProcessor reportProcessorId="resume3" />-->
	        </reportProcessors>	        
      </reportModule>
   </extension>
   
   <extension
         point="fr.opensagres.xdocreport.eclipse.reportProcessors">
         <reportProcessor id="fr.opensagres.xdocreport.eclipse.demo.resume.reporting.xdocreport"
         				  name="Resume with XDocReport"
         				  reportEngineId="fr.opensagres.xdocreport.eclipse.reporting.xdocreport"
         				  class="fr.opensagres.xdocreport.eclipse.demo.resume.internal.reporting.ResumeReportProcessor" >
         				  <!-- Resume with docx -->
         				  <reportLoader
         				  		  id="resume.xdocreport.docx"
         				  		  name="Resume from docx" 
         				  		  description="Docx document for Resume"
         				  		  class="fr.opensagres.xdocreport.eclipse.demo.resume.internal.reporting.DocxResumeReportLoader" />
         				  <!-- Resume with another docx -->         				  		  
						  <reportLoader
         				  		  id="resume.xdocreport.docx2"
         				  		  name="Resume2 from docx" 
         				  		  description="Another Docx document for Resume"
         				  		  class="fr.opensagres.xdocreport.eclipse.demo.resume.internal.reporting.DocxResumeReportLoader2" />
         				  <!-- Resume with ODT -->         				  		           				  		  
						  <reportLoader
         				  		  id="resume.xdocreport.odt"
         				  		  name="Resume from ODT"
         				  		  description="ODT document for Resume" 
         				  		  class="fr.opensagres.xdocreport.eclipse.demo.resume.internal.reporting.ODTResumeReportLoader" />         				  		  
         </reportProcessor>				         				  
	</extension>

  <extension
        point="org.eclipse.ui.editors">
     <editor
           class="fr.opensagres.xdocreport.eclipse.demo.resume.internal.ui.editors.ResumeFormEditor"           
           extensions="*"
           icon="icons/obj16/resume.gif"
           id="fr.opensagres.xdocreport.eclipse.demo.resume.editor.ResumeFormEditorPart"
           name="%ResumeFormEditor.name">
     </editor>
  </extension>

  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="fr.opensagres.xdocreport.eclipse.demo.resume.internal.ui.handlers.NewResumeHandler"
           id="fr.opensagres.xdocreport.eclipse.demo.resume.handlers.NewResumeHandler"
           name="New Resume">
     </command>
  </extension>
    
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="fr.opensagres.xdocreport.eclipse.demo.resume.internal.ui.handlers.SearchResumeHandler"
           id="fr.opensagres.xdocreport.eclipse.demo.resume.handlers.SearchResumeHandler"
           name="Search Resume">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.services">
     <serviceFactory
           factoryClass="org.eclipse.springframework.util.SpringExtensionFactory:resumeServiceFactory">
        <service
              serviceClass="fr.opensagres.xdocreport.eclipse.demo.resume.services.ResumeService"></service>
     </serviceFactory>
  </extension>
  
</plugin>
