<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="fr.opensagres.xdocreport.eclipse.reportEngines">
      <reportEngine
            id="fr.opensagres.xdocreport.eclipse.reporting.xdocreport"
            name="%reportEngine.name"
            description="%reportEngine.description"
            class="fr.opensagres.xdocreport.eclipse.reporting.xdocreport.XDocReportEngine"  />          	        
   </extension>
   
   <extension
         point="fr.opensagres.xdocreport.eclipse.uiFragments">
      <fragment
            id="fr.opensagres.xdocreport.eclipse.reporting.xdocreport">
         <detailsPage
               class="fr.opensagres.xdocreport.eclipse.reporting.xdocreport.internal.ui.XDocReportLoaderDetailsPage">
         </detailsPage>
         <dialog
               class="fr.opensagres.xdocreport.eclipse.reporting.xdocreport.internal.ui.XDocReportLoaderDialog">
         </dialog>
      </fragment>
   </extension>
     
</plugin>
