<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="fr.opensagres.xdocreport.eclipse.reporting.core.reportProcessors">
         <reportProcessor id="fr.opensagres.xdocreport.eclipse.demo.resume.reporting.xdocreport"
         				  name="Resume with XDocReport"
         				  reportEngineId="fr.opensagres.xdocreport.eclipse.reporting.xdocreport"
         				  class="org.dynaresume.eclipse.reporting.ResumeReportProcessor" >
         				  <!-- Resume with docx -->
         				  <reportLoader
         				  		  id="resume.xdocreport.docx"
         				  		  name="%DocxResumeName" 
         				  		  description="%DocxResumeDesc"
         				  		  class="org.dynaresume.eclipse.reporting.DocxResumeReportLoader" />
         				  <!-- Resume with another docx -->         				  		  
						  <reportLoader
         				  		  id="resume.xdocreport.sodifrance"
         				  		  name="%SodifranceResumeName" 
         				  		  description="%SodifranceResumeDesc"
         				  		  class="org.dynaresume.eclipse.reporting.SodifranceResumeReportLoader" />
         				  <!-- Resume with ODT -->         				  		           				  		  
						  <reportLoader
         				  		  id="resume.xdocreport.odt"
         				  		  name="%ODTResumeName"
         				  		  description="%ODTResumeDesc" 
         				  		  class="org.dynaresume.eclipse.reporting.ODTResumeReportLoader" />         				  		  
         </reportProcessor>				         				  
	</extension>
  
</plugin>
