<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="fr.opensagres.xdocreport.eclipse.reporting.core.reportProcessors">
         <reportProcessor id="fr.opensagres.xdocreport.eclipse.demo.resume.reporting.xdocreport"
         				  name="Resume with XDocReport"
         				  reportEngineId="fr.opensagres.xdocreport.eclipse.reporting.xdocreport"
         				  class="org.dynaresume.eclipse.reporting.ResumeReportProcessor" >
         				  <!-- Resume with docx -->
         				  <reportLoader
         				  		  id="resume.xdocreport.docx"
         				  		  name="Resume from docx" 
         				  		  description="Docx document for Resume"
         				  		  class="org.dynaresume.eclipse.reporting.DocxResumeReportLoader" />
         				  <!-- Resume with another docx -->         				  		  
						  <reportLoader
         				  		  id="resume.xdocreport.docx2"
         				  		  name="Resume2 from docx" 
         				  		  description="Another Docx document for Resume"
         				  		  class="org.dynaresume.eclipse.reporting.DocxResumeReportLoader2" />
         				  <!-- Resume with ODT -->         				  		           				  		  
						  <reportLoader
         				  		  id="resume.xdocreport.odt"
         				  		  name="Resume from ODT"
         				  		  description="ODT document for Resume" 
         				  		  class="org.dynaresume.eclipse.reporting.ODTResumeReportLoader" />         				  		  
         </reportProcessor>				         				  
	</extension>
  
</plugin>
